<ion-view view-title="List"   hide-back-button="true">
    <ion-nav-bar>
      <ion-nav-buttons side="left">
        <button class="button button-balanced button-icon icon ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
       <button  menu-toggle="right" class="button button-balanced button-icon icon ion-ios-search" ></button>
      </ion-nav-buttons>
    </ion-nav-bar>
         <div class="tab-agenda" >
          <div class="button-bar subheader-map">
            <a class="button "  id="subheader-map-list" ui-sref="app.tabs.events.list">List</a>
            <a class="button" id="subheader-map-map " ui-sref="app.tabs.events.map">Map</a>
             <button  class="button button-icon icon ion-navigate" id="subheader-map-navigate" ng-click="getGeo()"></button>
         </div>
          <div class="button-bar subheader-info">
              <a class="button "><span> <i class="icon ion-calendar"></i>Monday, 3 july</span></a>
              <a class="button "><span> <i class="icon ion-information-circled"></i>GOSPEL</span></a>
          </div>
      </div>
    <ion-content style="top:155px;" >
      <div class="list">
        <a ng-repeat="item in events" 
           href="#/app/tabs/events/event/{{item.eventID}}"
           class="item item-thumbnail-left">

          <img ng-src="{{ item.locationImage }}">
<!--          {{item.photo}}-->
          <h2>{{ item.title }}</h2>
          <h4 data-ng-bind-html="item.detail"></h4>
        </a>

      </div>

    </ion-content>

 
</ion-view>