<ion-view view-title="List" class="bar-balanced" hide-back-button="true">
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-balanced button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
     <a>
     <button  class="button button-balanced button-icon icon ion-ios-search" ></button>
   </a>
    </ion-nav-buttons>

         <div class="tab-agenda" >
          <div class="button-bar subheader-map">
            <a class="button "  id="subheader-map-list" ui-sref="mobile.events.list">List</a>
            <a class="button" id="subheader-map-map " ui-sref="mobile.events.map">Map</a>
             <button  class="button button-icon icon ion-navigate" id="subheader-map-navigate"></button>
         </div>
          <div class="button-bar subheader-info">
              <a class="button "><span> <i class="icon ion-calendar"></i>Monday, 3 july</span></a>
              <a class="button "><span> <i class="icon ion-information-circled"></i>GOSPEL</span></a>
          </div>
      </div>
    <ion-content style="top:155px;" >

      <div class="list">
        <a ng-repeat="item in events" 
           href="#/mobile/events/event/{{item.eventID}}"
           class="item item-thumbnail-left">

          <img ng-src="{{ item.locationImage }}">
<!--          {{item.photo}}-->
          <h2>{{ item.title }}</h2>
          <h4 data-ng-bind-html="item.detail"></h4>
        </a>

      </div>

    </ion-content>

 
</ion-view>