

<ion-view title="{{event.title}}" >
<ion-nav-bar>
  <ion-nav-back-button class="button-clear">
    <i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button>
</ion-nav-bar>
  <ion-content>
    <div class="card">
        <div class="item item-avatar">
            <img ng-src="{{event.locationImage}}">
            <h2 data-ng-bind-html="event.title"></h2>
            <p>{{event.start_date_full}}</p>
        </div>
        <div class="item item-body">
            <img class="full-image" ng-src="{{event.locationImage}}">
            <p>{{event.category}}<span ng-if="event.style != false"> - {{event.style}}</span></p>
            <p>{{event.location}}</p>
            <p data-ng-bind-html="event.detail"></p>
<!--
            <p>
                <a href="#" class="subdued">1 Like</a>
                <a href="#" class="subdued">5 Comments</a>
            </p>
-->
        </div>

<!--
        <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
              <i class="icon ion-thumbsup"></i>
              Like
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-chatbox"></i>
              Comment
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-share"></i>
              Share
            </a>
        </div>
-->
    </div>
  </ion-content>
</ion-view>
