<ion-view view-title="Map"  hide-back-button="true">


         <div class="tab-agenda" >
          <div class="button-bar subheader-map-location">
            <a class="button "  id="subheader-map-list" ui-sref="app.tabs.location.lists">List</a>
            <a class="button" id="subheader-map-map " ui-sref="app.tabs.location.map">Map</a>
             <button  class="button button-icon icon ion-navigate" id="subheader-map-navigate"></button>
         </div>
          <div class="button-bar subheader-info-location">
              <a class="button "><span> <i class="icon ion-calendar"></i>Monday, 3 july</span></a>
              <a class="button "><span> <i class="icon ion-information-circled"></i>GOSPEL</span></a>
          </div>
        </div>
    <ion-content style="top:155px;"  scroll="false">

        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options"  data-tap-disabled="true">
        
                       <ui-gmap-circle ng-repeat="c in circles track by c.id" center="c.center" stroke="c.stroke" fill="c.fill" radius="c.radius"
                visible="c.visible" geodesic="c.geodesic" editable="c.editable" draggable="c.draggable" clickable="c.clickable" control="c.control"></ui-gmap-circle>
        </ui-gmap-google-map>

    </ion-content>
         <ion-footer-bar id="map-events" ng-show="showPopup" ng-click="showDetails(results)">
                   <div class="row">
                      <div class="col col-33"><img ng-src="{{results.locationImage}}"></img></div>
                      <div class="col ">  <span id="map-events-title">{{results.title}}</span>
                                              <span id="map-events-address">{{results.address}}</span>
                                              <span id="map-events-date">{{results.dateString}} {{results.start_time}} </span>
                                              <span id="map-events-detail" >{{results.detail}}</span>
                      </div>
                    </div>
         </ion-footer-bar>
</ion-view>