<ion-view view-title="Annuaire" class="bar-balanced" hide-back-button="true">
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-balanced button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
     <a>
     <button  class="button button-balanced button-icon icon ion-ios-search" ></button>
   </a>
    </ion-nav-buttons>

         <div class="tab-agenda" >
          <div class="button-bar subheader-map-location">
            <a class="button "  id="subheader-map-list" ui-sref="mobile.location.lists">List</a>
            <a class="button" id="subheader-map-map " ui-sref="mobile.location.map">Map</a>
             <button  class="button button-icon icon ion-navigate" id="subheader-map-navigate"></button>
         </div>
          <div class="button-bar subheader-info-location">
              <a class="button "><span> <i class="icon ion-calendar"></i>Monday, 3 july</span></a>
              <a class="button "><span> <i class="icon ion-information-circled"></i>GOSPEL</span></a>
          </div>
      </div>
    <ion-content style="top:155px;">

      <div class="list">

        <a ng-repeat="item in locations" 
           href="#/mobile/locations/list/{{item.location_id}}"
           class="item item-thumbnail-left">

          <img ng-src="{{ item.image }}">
<!--          <span data-ng-bind-html="item.photo"></span>-->
          <h2>{{ item.title }}</h2>
          <h4 data-ng-bind-html="item.excerpt"></h4>
        </a>

      </div>

    </ion-content>
</ion-view>