<ion-view view-title="Niouz" >
    <ion-nav-bar class="bar-balanced">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
       <ion-nav-buttons side="right">
     <button  class="button button-balanced button-icon icon ion-ios-search" menu-toggle="right"></button>
    </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>

      <ion-list>

        <a ng-repeat="item in niouz"
           href="#/app/tabs/niouz/{{item.id}}"
           class="niouz" ng-class="{'niouz-half':$index > 1}">

          <img class="image-niouz" ng-src="{{ item.thumbnail_images.full.url }}" style="width:100%">
            <div class="legende-niouz">
                <h2 class="titre-niouz" ng-if="$index < 2" data-ng-bind-html="item.title | LimitLetter:25"></h2>
                <h4 class="titre-niouz" ng-if="$index > 1" data-ng-bind-html="item.title | LimitLetter:22"></h4>
                <h3 class="categorie-niouz" ng-if="$index < 2"><span ng-repeat="cat in item.categories" data-ng-bind-html="cat.title + ' '"></span></h3>
                <h5 class="categorie-niouz" ng-if="$index > 1"><span ng-repeat="cat in item.categories" data-ng-bind-html="(cat.title | LimitLetter:20) + ' '"></span></h5>
                <p class="date-niouz" ng-if="$index < 2">{{ item.date | FormatDate }} </p>
            </div>
<!--          <h4 data-ng-bind-html="item.excerpt"></h4>-->
        </a>
          

      </ion-list>
      <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()"></ion-infinite-scroll>

    </ion-content>
</ion-view>